@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



body{
   font-family: "DM Sans", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.dm-serif {
  font-family: 'DM Serif Display', serif;
}

.lora{
   font-family: "Lora", serif;
}

.banner-bg{
  background-image: url('./Assets/thumbprint.png');
}

.quotes-shadow-lg{
  box-shadow: 0 1rem 2rem rgba(29, 39, 68, 0.05);
}

.reviews-bg{
  background: linear-gradient(122deg, #D9E1FF 6.95%, #EEE0ED 90.31%);
}