.pdfBox {
    scroll-behavior: auto;
  }

.pdfBox::-webkit-scrollbar {
  width: 6px;
}
/* Style the scrollbar track (background) */
.pdfBox::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Style the scrollbar thumb (draggable part) */
.pdfBox::-webkit-scrollbar-thumb {
  background: #a7a5a5;
  border-radius: 10px;
}

/* Change scrollbar thumb on hover */
.pdfBox::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}
